se2005-1/xml/SpenderListe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Registred (Registred) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Adresse">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GebDatum">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Name">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="SpenderType">
		<xs:sequence>
			<xs:element ref="Name"/>
			<xs:element ref="Telefon"/>
			<xs:element ref="Adresse"/>
			<xs:element ref="GebDatum"/>
			<xs:element name="SpenderProfil" type="SpenderProfilType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SpenderListe">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Spender" type="SpenderType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SpenderProfilType">
		<xs:sequence>
			<xs:element ref="SpenderprofilProperty1"/>
			<xs:element ref="SpenderprofilProperty2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SpenderprofilProperty1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SpenderprofilProperty2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Telefon">
		<xs:complexType/>
	</xs:element>
</xs:schema>
